.cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    height: 100%;
    margin-top: 1em;
}

.card {
    gap: 24px;
    border-radius: 16px;
    border: 1.5px solid #EAECF0;
    box-shadow: 0px 1px 2px 0px #1018280D;
    width: 28em;
    min-height: 24em;
    max-height: 28em;
    overflow-y: auto;
    padding: 2em;
}

.card::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .card {
        width: 18em;
        height: 26.75em;
    }

    .tasks li {
        margin-top: 0.70em;
        width: 100% !important;
        height: 3.50em;
    }

    .openModalButton {
        margin-top: 1.95em !important;
        width: 18em !important;
        height: 3.19em;
    }
}

.card h3 {
    color: #0000008A;
}

.tasks li {
    width: 24.13em;
    min-height: fit-content !important;
    max-height: max-content;
    border: 1px solid #D7DDE9;
    border-style: dashed;
    border-radius: 8px;
    padding: 16px;
}

.tasks li:hover {
    cursor: pointer;
    background-color: #F7F9FD;
    border: 1px solid #F7F9FD;
    border-style: none;
}

.card p {
    color: #0000008A;
}

.checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.checkbox input[type='checkbox'] {
    appearance: none;
    cursor: pointer;
    width: 1.50em;
    height: 1.50em;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #B0BBD1;
    transition: background-color 0.2s, border-color 0.2s;
    position: relative;
}

.checkbox input[type="checkbox"]:checked {
    background-color: #A0DCF6;
    border-color: #0796D3;
}

.checkbox .icon {
    display: none;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 0.95em;
    height: 0.95em;
}

.checkbox input[type='checkbox']:checked+.icon {
    display: block;
}

.openModalButton {
    width: 28em;
    margin-top: 1em;
    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
    color: #ffff;
    height: 3.19em;
    border-radius: 8px;
}