.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(2px);
}

.modal {
    background-color: white;
    padding: 2em;
    border-radius: 16px;
    width: 28.13em;
    text-align: center;
    transform: translateY(-50px);
    z-index: 1000;
    animation: fadeIn 0.5s forwards;
    box-shadow: 0px 8px 24px rgba(16, 24, 40, 0.18);
}

@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .modal {
        height: 100%;
        width: 100%;
    }

    .modal input {
        width: 100% !important;
        height: 3.19em;
    }

    .addButton {
        width: 100% !important;
    }

    .deleteButton {
        width: 100% !important;
    }

    .cancelButton {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .modal {
        transform: scale(1.2);
    }
}

.modal input {
    width: 24.13em;
    height: 3.19em;
    padding: 16px;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #D7DDE9;
    color: #0000008F;
}

.modal h3 {
    color: #0000008A;
}

.addButton {
    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
    color: #ffff;
    width: 11.56em;
    height: 3.19em;
    border-radius: 8px;
}

.deleteButton {
    background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);

    color: #ffff;
    width: 11.56em;
    height: 3.19em;
    border-radius: 8px;
}

.cancelButton {
    background: #E7EEFB;
    width: 11.56em;
    height: 3.19em;
    border-radius: 8px;
    color: #000000;
}